*{
  box-sizing: border-box;
}
body{
  font-family: ;
  background: #555;
  line-height: 1.4;
  color: white;
}
.site-wrapper{
  max-width: 800px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  color: #555;
}
.site-header{
  padding: 10px 10px 20px;
  border-bottom: 1px solid #00aced;
}

.site-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  color: #00aecd;
}

.main-content{
  padding: 10px;
}


.site-footer{
  padding: 20px;
  background-color: #00aced;
  color: white;
}

.copyright{
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}